{% extends 'ibhi/02_layout_fluid.html' %}

{% block title %}
Report
{% endblock %}

{% block vis_div %}
    <div class="container">
        <h1>Feature One</h1>
        <!-- Container for the visualization -->
        <div id="vis1"></div>



    </div>
{% endblock %}

{% block script %}

        var vlSpec1 = {
        "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
        "data": {"url": "http://127.0.0.1:7001/visual_1.csv"},
        "vconcat": [
            <!--Graph 1-->
            {
                "layer": [
                    <!--Event Details-->
                    {
                        "mark": "rect",
                        "transform": [
                            {
                                "filter": {
                                    "field": "event_type",
                                    "oneOf": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ]
                                }
                            }
                        ],
                        "encoding": {
                            "color": {
                                "field": "event_type", "type": "nominal",
                                "title": "Legend",
                                "scale": {
                                    "domain": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ],
                                    "range": [
                                        "#106700",
                                        "#6bf352",
                                        "#fcd600",
                                        "#f92800"
                                    ]
                                }

                            },
                            "x": {
                                "field": "date",
                                "type": "temporal"
                            },
                            "x2": {
                                "field": "end_date",
                                "type": "temporal"
                            }
                        }
                    },

                    <!--Main 1-->
                    {
                        "width": 1100,
                        "height": 100,
                        "mark": {
                            "type": "area",
                            "tooltip": true,
                            "color": "#000080"
                        },
                        "transform": [
                            {
                                "filter": {
                                    "field": "attributes",
                                    "oneOf": ["bw_std_vol_0_20"]
                                }
                            }
                        ],
                        "encoding": {
                            "x": {
                                "field": "date",
                                "type": "temporal",
                                "title": "Date"
                            },
                            "y": {
                                "field": "values", "type": "quantitative",
                                "axis": {
                                    "tickCount": 3, "grid": false,
                                    "title": "Standardized Volume"
                                }
                            }
                        }
                    },
                    {
                        "width": 1100,
                        "height": 100,
                        "mark": {
                            "type": "area",
                            "tooltip": true,
                            "color": "#e84a27",
                        },
                        "transform": [
                            {
                                "filter": {
                                    "field": "attributes",
                                    "oneOf": ["cc_std_vol_0_20"]
                                }
                            }
                        ],
                        "selection": {
                            "brush": {"type": "interval", "encodings": ["x"]}
                        },
                        "encoding": {
                            "x": {
                                "field": "date",
                                "type": "temporal",
                                "title": "year (year)"
                            },
                            "y": {
                                "field": "values", "type": "quantitative",
                                "axis": {"tickCount": 3, "grid": false}
                            },
                        }
                    }
                ]
            },

            <!--Graph 2-->
            {
                "layer": [

                    <!--Event Details-->
                    {
                        "mark": "rect",
                        "transform": [
                            {
                                "filter": {
                                    "field": "event_type",
                                    "oneOf": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ]
                                }
                            }
                        ],
                        "encoding": {
                            "color": {
                                "field": "event_type", "type": "nominal",
                                "title": "Legend",

                                "scale": {
                                    "domain": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ],
                                    "range": [
                                        "#106700",
                                        "#6bf352",
                                        "#fcd600",
                                        "#f92800"
                                    ]
                                }

                            },
                            "x": {
                                "field": "date",
                                "type": "temporal"
                            },
                            "x2": {
                                "field": "end_date",
                                "type": "temporal"
                            }
                        }
                    },

                    <!--Main 2-->
                    {
                        "width": 1100,
                        "height": 100,
                        "mark": {
                            "type": "area",
                            "tooltip": true,
                            "color": "#e84a27"
                        },
                        "transform": [
                            {
                                "filter": {
                                    "field": "attributes",
                                    "oneOf": ["cc_volume"]
                                }
                            }
                        ],

                        "encoding": {
                            "x": {
                                "field": "date",
                                "type": "temporal",
                                "scale": {"domain": {"selection": "brush"}},
                                "axis": {"title": "ClineCenter: News Media Post Volume"}

                            },
                            "y": {
                                "field": "values",
                                "type": "quantitative",
                                "axis": {
                                    "tickCount": 3, "grid": false,
                                    "title": "Post Volume"
                                }


                            }

                        }
                    }
                ]
            },


            <!--Graph 3-->
            {
                "layer": [
                    <!--Event Details-->
                    {
                        "mark": "rect",
                        "transform": [
                            {
                                "filter": {
                                    "field": "event_type",
                                    "oneOf": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ]
                                }
                            }
                        ],
                        "encoding": {
                            "color": {
                                "field": "event_type", "type": "nominal",
                                "title": "Legend",

                                "scale": {
                                    "domain": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ],
                                    "range": [
                                        "#106700",
                                        "#6bf352",
                                        "#fcd600",
                                        "#f92800"
                                    ]
                                }

                            },
                            "x": {
                                "field": "date",
                                "type": "temporal"
                            },
                            "x2": {
                                "field": "end_date",
                                "type": "temporal"
                            }
                        }
                    },

                    <!--Main 3-->
                    {
                        "width": 1100,
                        "height": 100,
                        "mark": {
                            "type": "area",
                            "tooltip": true,
                            "color": "#000080"
                        },
                        "transform": [
                            {
                                "filter": {
                                    "field": "attributes",
                                    "oneOf": ["bw_volume"]
                                }
                            }
                        ],

                        "encoding": {
                            "x": {
                                "field": "date",
                                "type": "temporal",
                                "axis": {"title": "BrandWatch: Social Media Post Volume"},

                                "scale": {"domain": {"selection": "brush"}}

                            },
                            "y": {
                                "field": "values",
                                "type": "quantitative",
                                "axis": {"tickCount": 3, "grid": false, "title": "Post Volume"}
                            }

                        }
                    }
                ]
            },


            <!--Graph 4-->
            {
                "layer": [
                    <!--Event Details-->
                    {
                        "mark": "rect",
                        "transform": [
                            {
                                "filter": {
                                    "field": "event_type",
                                    "oneOf": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ]
                                }
                            }
                        ],
                        "encoding": {
                            "color": {
                                "field": "event_type", "type": "nominal",
                                "scale": {
                                    "domain": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ],
                                    "range": [
                                        "#106700",
                                        "#6bf352",
                                        "#fcd600",
                                        "#f92800"
                                    ]
                                }

                            },
                            "x": {
                                "field": "date",
                                "type": "temporal"
                            },
                            "x2": {
                                "field": "end_date",
                                "type": "temporal"
                            }
                        }
                    },

                    <!--Main 4-->
                    {
                        "layer": [

                            {
                                "width": 1100,
                                "height": 400,
                                "mark": {
                                    "type": "line", "interpolate": "monotone",
                                    "tooltip": true,
                                    "color": "#e84a27"
                                },
                                "transform": [
                                    {
                                        "filter": {
                                            "field": "attributes",
                                            "oneOf": ["cc_net_senti_0_100"]
                                        }
                                    }
                                ],
                                "encoding": {
                                    "x": {
                                        "field": "date",
                                        "type": "temporal",
                                        "scale": {"domain": {"selection": "brush"}},
                                        "axis": {"title": ""}
                                    },
                                    "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                                }

                            },
                            {
                                "width": 1100,
                                "height": 400,
                                "mark": {
                                    "type": "line", "interpolate": "monotone",
                                    "tooltip": true,
                                    "color": "#95A5A6"
                                },
                                "transform": [
                                    {
                                        "filter": {
                                            "field": "attributes",
                                            "oneOf": ["cc_vwas"]
                                        }
                                    }
                                ],
                                "encoding": {
                                    "x": {
                                        "field": "date",
                                        "type": "temporal",
                                        "scale": {"domain": {"selection": "brush"}},
                                        "axis": {"title": ""}
                                    },
                                    "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                                }

                            },
                            {
                                "width": 1100,
                                "height": 400,
                                "mark": {"type": "bar", "opacity": 0.2, "color": "#000080", "tooltip": true},
                                "transform": [
                                    {
                                        "filter": {
                                            "field": "attributes",
                                            "oneOf": ["cc_std_vol_0_20"]
                                        }
                                    }
                                ],
                                "encoding": {
                                    "x": {
                                        "field": "date",
                                        "type": "temporal",
                                        "scale": {"domain": {"selection": "brush"}},
                                        "axis": {"title": "ClineCenter ( Blue: Net Sentiment | Grey: Volumetric Weighted Avg Sentiment Score )"}
                                    },
                                    "y": {
                                        "field": "values", "type": "quantitative",
                                        "title": "Standardized Volume(Green Bar)"
                                    },
                                }
                            },


                        ]
                    }
                ]
            },


            <!--Graph 5-->
            {
                "layer": [

                    <!--Event Details-->
                    {
                        "mark": "rect",
                        "transform": [
                            {
                                "filter": {
                                    "field": "event_type",
                                    "oneOf": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ]
                                }
                            }
                        ],
                        "encoding": {
                            "color": {
                                "field": "event_type", "type": "nominal",
                                "scale": {
                                    "domain": [
                                        "Positive Shock - Planned Activity",
                                        "Positive Shock - Unplanned Activity",
                                        "Negative Shock - Planned Activity",
                                        "Negative Shock - Unplanned Activity"
                                    ],
                                    "range": [
                                        "#106700",
                                        "#6bf352",
                                        "#fcd600",
                                        "#f92800"
                                    ]
                                }

                            },
                            "x": {
                                "field": "date",
                                "type": "temporal"
                            },
                            "x2": {
                                "field": "end_date",
                                "type": "temporal"
                            }
                        }
                    },

                    <!--Main 5-->
                    {
                        "layer": [

                            {
                                "width": 1100,
                                "height": 400,
                                "mark": {
                                    "type": "line", "interpolate": "monotone",
                                    "tooltip": true,
                                    "color": "#000080"
                                },
                                "transform": [
                                    {
                                        "filter": {
                                            "field": "attributes",
                                            "oneOf": ["bw_net_senti_0_100"]
                                        }
                                    }
                                ],
                                "encoding": {
                                    "x": {
                                        "field": "date",
                                        "type": "temporal",
                                        "scale": {"domain": {"selection": "brush"}},
                                        "axis": {"title": ""}
                                    },
                                    "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                                }

                            },
                            {
                                "width": 1100,
                                "height": 400,
                                "mark": {
                                    "type": "line", "interpolate": "monotone",
                                    "tooltip": true,
                                    "color": "#95A5A6",
                                },
                                "transform": [
                                    {
                                        "filter": {
                                            "field": "attributes",
                                            "oneOf": ["bw_vwas"]
                                        }
                                    }
                                ],
                                "encoding": {
                                    "x": {
                                        "field": "date",
                                        "type": "temporal",
                                        "scale": {"domain": {"selection": "brush"}},
                                        "axis": {"title": ""}
                                    },
                                    "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                                }

                            },
                            {
                                "width": 1100,
                                "height": 400,
                                "mark": {"type": "bar", "opacity": 0.2, "color": "#000080", "tooltip": true},
                                "transform": [
                                    {
                                        "filter": {
                                            "field": "attributes",
                                            "oneOf": ["bw_std_vol_0_20"]
                                        },
                                        "calculate": "{'bw_std_vol_0_20': 'Social Media Standard Volume (Scale 0 to 20)'}[datum.attributes]",
                                        "as": "attributes"
                                    }
                                ],
                                "encoding": {
                                    "x": {
                                        "field": "date",
                                        "type": "temporal",
                                        "scale": {"domain": {"selection": "brush"}},
                                        "axis": {"title": "BrandWatch ( Blue: Net Sentiment | Grey: Volumetric Weighted Avg Sentiment Score )"}
                                    },
                                    "y": {
                                        "field": "values", "type": "quantitative",
                                        "title": "Standardized Volume(Green Bar)"
                                    },
                                }
                            },


                        ]
                    }
                ]
            }


        ]
    };


    // Embed the visualization in the container with id `vis`
    vegaEmbed('#vis1', vlSpec1, {'actions': false});

{% endblock %}

