{% extends 'ibhi/02_layout_fluid.html' %}

{% block title %}
Report
{% endblock %}

{% block vis_div %}
    <div class="container">
        <h1>Feature One</h1>
        <!-- Container for the visualization -->
        <div id="vis1"></div>



    </div>
{% endblock %}

{% block script %}

          var vlSpec1 = {
        "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
        "data": {"url": "https://raw.githubusercontent.com/HIBCAT/test/main/test_data/layer_test2.csv"},
        "vconcat": [
                    {
            "width": 1100,
            "height": 200,
            "mark": {"type": "area", "tooltip": {"content": "data"}},
            "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["bw_std_vol_0_20", "cc_std_vol_0_20"]
                    }
                  }
                ],
            "selection": {
              "brush": {"type": "interval", "encodings": ["x"]}
            },
            "encoding": {
              "color": {
                    "field": "attributes", "type": "nominal", "title": "Starbucks",
                    "scale": {"domain": ["cc_std_vol_0_20", "bw_std_vol_0_20"], "range": ["#e84a27", "#000080"]}
                  },
              "x": {
                "field": "date",
                "type": "temporal"
              },
              "y": {
                "field": "values",
                "type": "quantitative",
                "axis": {"tickCount": 3, "grid": false}
              }

            }
          },
                {
            "layer": [

              {
                "width": 1100,
                "height": 400,
                "mark": {
                  "type": "line", "interpolate": "monotone",
                  "tooltip": {"content": "data"},
                  "color" : "#000080"
                },
                "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["bw_net_senti_0_100"]
                    }
                  }
                ],
                "encoding": {
                  "x": {
                    "field": "date",
                    "type": "temporal",
                    "scale": {"domain": {"selection": "brush"}},
                    "axis": {"title": ""}
                  },
                  "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                }

              },
                    {
                "width": 1100,
                "height": 400,
                "mark": {
                  "type": "line", "interpolate": "monotone",
                  "tooltip": {"content": "data"},
                  "color": "#95A5A6",
                },
                "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["bw_vwas"]
                    }
                  }
                ],
                "encoding": {
                  "x": {
                    "field": "date",
                    "type": "temporal",
                    "scale": {"domain": {"selection": "brush"}},
                    "axis": {"title": ""}
                  },
                  "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                }

              },
              {
                "width": 1100,
                "height": 400,
                "mark": {"type": "bar", "opacity": 0.2, "color": "#85C5A6", "tooltip": {"content": "data"}},
                "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["bw_std_vol_0_20"]
                    }
                  }
                ],
                "encoding": {
                  "x": {
                    "field": "date",
                    "type": "temporal",
                    "scale": {"domain": {"selection": "brush"}},
                    "axis": {"title": ""}
                  },
                  "y": {
                    "field": "values", "type": "quantitative",
                    "title": "Standardized Volume(Green Bar & Line)"
                  },
                }
              },


            ]
          },

          {
            "layer": [

              {
                "width": 1100,
                "height": 400,
                "mark": {
                  "type": "line", "interpolate": "monotone",
                  "tooltip": {"content": "data"},
                  "color" : "#e84a27"
                },
                "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["cc_net_senti_0_100"]
                    }
                  }
                ],
                "encoding": {
                  "x": {
                    "field": "date",
                    "type": "temporal",
                    "scale": {"domain": {"selection": "brush"}},
                    "axis": {"title": ""}
                  },
                  "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                }

              },
                    {
                "width": 1100,
                "height": 400,
                "mark": {
                  "type": "line", "interpolate": "monotone",
                  "tooltip": {"content": "data"},
                  "color" : "#95A5A6"
                },
                "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["cc_vwas"]
                    }
                  }
                ],
                "encoding": {
                  "x": {
                    "field": "date",
                    "type": "temporal",
                    "scale": {"domain": {"selection": "brush"}},
                    "axis": {"title": ""}
                  },
                  "y": {"field": "values", "type": "quantitative", "title": "Net Sentiment"}
                }

              },
              {
                "width": 1100,
                "height": 400,
                "mark": {"type": "bar", "opacity": 0.2, "color": "#85C5A6", "tooltip": {"content": "data"}},
                "transform": [
                  {
                    "filter": {
                      "field": "attributes",
                      "oneOf": ["cc_std_vol_0_20"]
                    }
                  }
                ],
                "encoding": {
                  "x": {
                    "field": "date",
                    "type": "temporal",
                    "scale": {"domain": {"selection": "brush"}},
                    "axis": {"title": ""}
                  },
                  "y": {
                    "field": "values", "type": "quantitative",
                    "title": "Standardized Volume(Green Bar & Line)"
                  },
                }
              },


            ]
          }



          ]
      };
    vegaEmbed('#vis1', vlSpec1, {'actions': false});


{% endblock %}
