<!--I am inheriting this template into the parent template base.html-->
{% extends 'ibhi/base.html' %}

{% block title %}
    API Data Dictionary
{% endblock %}


{% block content %}

    <!--This will contain the header div-->
    {% block content-header %}

        <div class="database-headers">
            <h3> Database Name: API Data Dictionary</h3>
        </div>


    {% endblock %}
    <!--This will contain the table-->
    {% block content-table %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">API Name</th>
                    <th scope="col">Field Name</th>
                    <th scope="col">Field's Data Type</th>
                    <th scope="col" class='table-name-view'>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for list in apidatadictionary_list %}
                    <tr>
                        <td>{{ list.api_name }}</td>
                        <td>{{ list.field_name }}</td>
                        <td>{{ list.field_data_type }}</td>
                        <td>{{ list.description }}</td>
                    </tr>
                {% empty %}
                    <li><em>No data present in the database. Please enter some data.</em></li>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% endblock %}

        {% block pagination %}

        <div class="database-headers-pagination">

{% if is_paginated %}
<div class="row">
    <div class="twelve columns">
        <ul class="pagination">
            {% if first_page_url %}
                <li class="pagination-number">
                    <a href="{{ first_page_url }}">
                        First</a>
                </li>
            {% endif %}
            {% if previous_page_url %}
                <li class="pagination-number">
                    <a href="{{ previous_page_url }}">
                        Previous</a>
                </li>
            {% endif %}
            <li class="pagination-number">
                Page {{ page_obj.number }}
                of {{ paginator.num_pages }}
            </li>
            {% if next_page_url %}
                <li class="pagination-number">
                    <a href="{{ next_page_url }}">
                        Next</a>
                </li>
            {% endif %}
            {% if last_page_url %}
                <li class="pagination-number">
                    <a href="{{ last_page_url }}">
                        Last</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

</div>


    {% endblock %}


{% endblock %}

