<!--I am inheriting this template into the parent template base.html-->
{% extends 'ibhi/base.html' %}

{% block title %}
    Archer Explorer
{% endblock %}


{% block content %}

    <!--This will contain the header div-->
    {% block content-header %}

        <div class="database-headers">
            <h3>Archer Explorer</h3>
        </div>

        <div class="database-headers">
            <h6>
                Step 1: Please click to generate the API key.
                <br>
                Step 2: Paste the generated API key.
            </h6>
        <button>
               <a href="https://archerapi.clinecenter.illinois.edu/getkey" target="_blank" rel="noopener noreferrer" class="card-link">Get API Key</a>
        </button>
        </div>

        <div class="database-headers">
            <form method="post">
                {% csrf_token %}
                <h6>API Key: {{ query.api_key }}</h6>
                <br>
                <h6>Rows (upto 500k): {{ query.rows }}</h6>
                <br>
                <h6>Query: {{ query.query }}</h6>
                <br>
                <button type="submit">
                    Submit
                </button>
            </form>

            <br>
            <button>
               <a href="{{ final_url }}" target="_blank" rel="noopener noreferrer" class="card-link">Check Data</a>
            </button>
        </div>


    {% endblock %}
    <!--This will contain the table-->



    {% block content-table %}

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">title</th>
                    <th scope="col">publisher</th>
                    <th scope="col">aid</th>


                </tr>
                </thead>
                <tbody>

                {% for list in archer_explorer_list.itertuples %}

                    <tr>
                        <td>{{ list.title }}</td>
                        <td>{{ list.publisher }}</td>
                        <td>{{ list.aid }}</td>

                    </tr>

                {% endfor %}

                </tbody>
            </table>


        </div>

    {% endblock %}







{% endblock %}

