{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <!--Vega-lite v4.json-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.12.2"></script>

    <!--Vega-lite v5.json-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"
          href="{% static 'ibhi/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'ibhi/assets/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'ibhi/assets/css/bootstrap-reboot.css' %}">

    <style type="text/css" media="screen">

        .vega-actions a {
            margin-right: 50px;
        }

        .pagination-number {
            margin-right: 1em;
            margin-left: 1em;
        }

        .delete-confirmation-objects {
            width: 1100px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 2em;
            background-color: #fdfdff;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }


        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
            line-height: 25px;
            background-color: #343a40;
            text-align: center;
            text-decoration-color: white;

        }

        .table-responsive {
            width: 1100px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 2em;
            background-color: #fdfdff;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }

        td, tr, th {
            border-style: groove;
        }

        .table-name-view {
            width: 200px;
            height: 10px;
            text-align: center;
        }

        .table-detail-list-view {
            width: 200px;
            height: auto;
            text-align: center;
        }


        .database-headers {
            width: 1100px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 2em;
            background-color: #fdfdff;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }

        .database-headers-pagination {
            width: 1100px;
            height: 150px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }


        body {
            background-color: #f0f0f2;
            margin: 0;
            padding: 0;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

    </style>

    <title>

        {% block title %}

        {% endblock %}

    </title>

</head>


<body>



<div>
    <!--I designed the nav bar over here-->
    <header>

        <!--# 2.2 Adding the collapsable menu-->
        <!--This is the collapsible top menu-->
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <!--Add all the menu items inside this container to which will be visible once reveal button is clicked-->
                <div class="bg-light p-4"> <!--Changing the class to bg-light p-4 for ligher background-->


                    <!--# 2.3 Adding another kind of nav-bar-->
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <!--id will act as name of this particular menu-->
                            <!--href will act as the connecting point for sub-data-->
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               role="tab"
                               aria-controls="pills-home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-bwi-analytics-tab" data-toggle="pill" href="#pills-bwi-analytics" role="tab"
                               aria-controls="pills-profile" aria-selected="false">Analytics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-bwi-core-research-tab" data-toggle="pill" href="#pills-bwi-core-research"
                               role="tab"
                               aria-controls="pills-contact" aria-selected="false">Research</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <!--This div contains the design for all the level 2 navbar submenu-->
                        <!--Home tab display items-->
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <!--# 2.4-->
                            <!--div with class 'card-deck' arranges multiple cards with equal space-->
                            <!--Put as many cards as you want in it-->
                            <div class="card-deck">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Beta Release</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">May 16, 2020</h6>
                                        <p class="card-text">The project consists of four parts.
                                        <li>HIBCAT : Real time ML/AI based data processing platform</li>
                                        <li>Data Grid 1: Web-archive dictionary containing definitions of field
                                            variables
                                            and
                                            description
                                        </li>
                                        <li>Data Grid 2: Web-archive dictionary containing definitions of field
                                            variables
                                            and
                                            description
                                        </li>
                                        <li>Admin : Admin controlled applications to control contents of above three
                                            project
                                            parts
                                        </li>
                                        </p>
                                    </div>
                                </div>

                                <div class="card text-center">
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">HIBCAT Prototype Project</h5>
                                        <p class="card-text">Developed by Mohit Gupta for HIBCAT</p>
                                        <!--Enter the link for about.html-->
                                        <a href="{% url 'about_urlpattern' %}" class="btn btn-primary">About Us</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Updated: May 16, 2020
                                    </div>
                                </div>


                            </div>

                        </div>

                        <!--HIBCAT tab display items-->
                        <div class="tab-pane fade" id="pills-bwi-analytics" role="tabpanel" aria-labelledby="pills-bwi-analytics-tab">

                            <!--# 2.5-->
                            <!--HIBCAT tab display items-->
                            <div class="card-deck">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Ad Investment Estimate</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beta Release Date: May 21, 2020</h6>
                                        <p class="card-text">ML/AI functionality supporting dashboard with real time
                                            data
                                            processing and advanced data visualization options.</p>
                                        <a href="{% url 'ad_investment_urlpattern' %}" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">News Explorer</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beta Release Date: May 17, 2020</h6>
                                        <p class="card-text">Real time advanced data visualization dashboard for
                                            pre-processed
                                            data.</p>
                                        <a href="{% url 'news_explorer_urlpattern' %}" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Net Sentiment Explorer</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beta Release Date: May 17, 2020</h6>
                                        <p class="card-text">Real time advanced data visualization dashboard for
                                            pre-processed
                                            data.</p>
                                        <a href="{% url 'net_sentiment_explorer_urlpattern' %}" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Sentiment Trends</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beta Release Date: May 17, 2020</h6>
                                        <p class="card-text">Real time advanced data visualization dashboard for
                                            pre-processed
                                            data.</p>
                                        <a href="{% url 'sentiment_trend_urlpattern' %}" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Word Cloud</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Beta Release Date: May 17, 2020</h6>
                                        <p class="card-text">Real time advanced data visualization dashboard for
                                            pre-processed
                                            data.</p>
                                        <a href="{% url 'word_cloud_urlpattern' %}" class="card-link">Get Started</a>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <!--Data Grid 2 tab display items-->
                        <div class="tab-pane fade" id="pills-bwi-core-research" role="tabpanel"
                             aria-labelledby="pills-bwi-core-research-tab">

                            <div class="card-deck">

                                <!--# 2.7-->
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Benzene</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Details about benzene database</h6>
                                        <p class="card-text">More details about benzene</p>

                                        <!--Making table to display links properly-->

                                        {% if perms.datadict.view_benzene %}
                                            <li>
                                                <a href=""
                                                   class="card-link">benzene</a>

                                            </li>
                                        {% endif %}

                                        {% if perms.datadict.view_benzene_xlio2_db %}
                                            <li><a href=""
                                                   class="card-link">benzene_xlio2_db</a></li>
                                        {% endif %}


                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Fluorobenzene</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Details about Fluorobenzene
                                            database</h6>
                                        <p class="card-text">More details about Fluorobenzene</p>

                                        <!--Making table to display links properly-->

                                        {% if perms.datadict.view_fluorobenzene %}
                                            <li>
                                                <a href=""
                                                   class="card-link">daily_data</a>
                                            </li>
                                        {% endif %}


                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Nest</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Details about Nest database</h6>
                                        <p class="card-text">More details about Nest</p>

                                        <!--Making table to display links properly-->

                                        {% if perms.datadict.view_nest_o2 %}
                                            <li>
                                                <a href=""
                                                   class="card-link">nest_o2</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.datadict.view_nest_prod %}
                                            <li><a href=""
                                                   class="card-link">nest_prod</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.datadict.view_nest_segments %}
                                            <li><a href=""
                                                   class="card-link">nest_segments</a></li>
                                        {% endif %}


                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">UAT</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Details about UAT database</h6>
                                        <p class="card-text">More details about UAT</p>

                                        <!--Making table to display links properly-->

                                        {% if perms.datadict.view_lolam_uat_analysis %}
                                            <li>

                                                <a href=""
                                                   class="card-link">lolam_uatanalysis</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.datadict.view_uat %}
                                            <li><a href=""
                                                   class="card-link">uat</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.datadict.view_uat_db %}
                                            <li><a href="" class="card-link">uat_db</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.datadict.view_uat_prod_shabha %}
                                            <li><a href=""
                                                   class="card-link">uat_prod_shabha</a></li>
                                        {% endif %}
                                        {% if perms.datadict.view_uat_temp %}
                                            <li>

                                                <a href=""
                                                   class="card-link">uat_temp</a>
                                            </li>
                                        {% endif %}


                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">URS</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Details about URS database</h6>
                                        <p class="card-text">More details about URS</p>

                                        <!--Making table to display links properly-->

                                        {% if perms.datadict.view_urs_prod %}
                                            <li><a href=""
                                                   class="card-link">urs_prd</a>
                                            </li>
                                        {% endif %}


                                    </div>
                                </div>


                            </div>

                        </div>


                    </div>


                </div>


            </div>
        </div>

        <!--This is the dark navbar which when clicked on menu button, reveals/collapses-->
        <nav class="navbar navbar-dark bg-dark">
            {% if user.is_authenticated %}
                <!--Add  url 'logout_urlpattern' -->
                <a href="">
                    <button class="btn btn-primary" type="submit">Log Out, {{ user.get_username }}</button>
                </a>
            {% else %}
                <!--Add  url 'login_urlpattern' -->
                <a href="">
                    <button class="btn btn-primary" type="submit">Log In</button>
                </a>

            {% endif %}


            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>


    </header>


    <!--2.9 Designing the space for the main content of the page-->
    <main>
        {% block content %}

            <!--This will contain the header div-->
            {% block content-header %}

            {% endblock %}

            <!-- This will contain the visualizations from the analyzed data-->
            {% block visual %}

            {% endblock %}

            <!--This will contain the table-->
            {% block content-table %}

            {% endblock %}

        {% endblock %}

    <script>

        {% block script %}



        {% endblock %}

    </script>

    </main>




    <div class="database-headers-pagination">

        {% if is_paginated %}
            <div class="row">
                <div class="twelve columns">
                    <ul class="pagination">
                        {% if first_page_url %}
                            <li class="pagination-number">
                                <a href="{{ first_page_url }}">
                                    First</a>
                            </li>
                        {% endif %}
                        {% if previous_page_url %}
                            <li class="pagination-number">
                                <a href="{{ previous_page_url }}">
                                    Previous</a>
                            </li>
                        {% endif %}
                        <li class="pagination-number">
                            Page {{ page_obj.number }}
                            of {{ paginator.num_pages }}
                        </li>
                        {% if next_page_url %}
                            <li class="pagination-number">
                                <a href="{{ next_page_url }}">
                                    Next</a>
                            </li>
                        {% endif %}
                        {% if last_page_url %}
                            <li class="pagination-number">
                                <a href="{{ last_page_url }}">
                                    Last</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>


</div>


<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"
              style="text-align: center">© Mohit Gupta | University of Illinois at Urbana-Champaign</span>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>

